*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 24px;
	height: 1400px;
}
h1, h2, h3, h4, h5, h6{
	font-family: serif;
}
a, a:hover{
	text-decoration: none;
}
.container{
	width: 1000PX;
	height: 600px;
	background-color: #f5f5f5;
	margin: 5px auto;
	position: relative;
}
.red{
	width: 800px;
	height: 400px;
	background: #BA0C2F;
    position: absolute;
	top: 13%;
	left: 10%;
	
}
.white-1{
	width: 800px;
	height: 100px;
	background: #ffffff;
	position: absolute;
	top: 36%;
	left: 0%;
}
.white-2{
	width: 100px;
	height: 400px;
	background: #ffffff;
	position: absolute;
	top: 0%;
	left: 30%;
	z-index: 0;
}
.blue-1{
	width: 800px;
	height: 80px;
	background: #00205B;
	position: absolute;
	top: 10%;
	left: 0%;
	z-index: 1;
}
.blue-2{
	width: 80px;
	height: 400px;
	background: #00205B;
	position: absolute;
	top: 0%;
	left: 10%;
}
.text{
	font-size: 30px;
	color: #00205B;
	font-family: monospace;
	position: absolute;
	top: 88%;
	left: 40%;
}
.yellow{
	width: 80px;
	height: 100px;
	background: yellow;
	position: fixed;
	top: 100px;
	right: 0px;
}
.fb{
	width: 120px;
	height: 50px;
	position: fixed;
	top: 40%;
	right: -75px;
	transition: 1s;
}
.fb:hover{
	right: 0px;
	cursor: pointer;
}
.ln{
	width: 125px;
	height: 55px;
	position: fixed;
	top: 50%;
	right: -83px;
	transition: 1s;
}
.ln:hover{
	right: 0px;
	cursor: pointer;

}
.tw{
	width: 125px;
	height: 53px;
	position: fixed;
	top: 61%;
	right: -83px;
	transition: 1s;
}
.tw:hover{
	right: 0px;
	cursor: pointer;
}